:root {
  --primary-color: #8000ff;
  --secondary-color: #00ff7b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
}

input[type="color"] {
  width: 100px;
  height: 50px;
  border-radius: 12px;
  background-color: inherit;
  border: none;
}

.navbar,
.footer {
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
  text-align: left;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.parent {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  height: 20%;
  width: 100%;
  margin-top: 2rem;
}

.primary {
  width: 200px;
  height: 200px;
}

.text {
  width: 200px;
  height: 200px;
}

.secondary {
  width: 200px;
  height: 200px;
}

.layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  width: 400px;
  height: 200px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 12px;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.inline {
  display: inline;
}

#logo,
#footer-heading {
  padding: 12px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#primary-text {
  font-size: 20px;
  font-weight: 500;
}

#secondary-text {
  font-size: 18px;
  font-weight: 400;
}

#text {
  font-size: 18px;
  font-weight: 300;
}

#link {
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#modal-content {
  background-color: var(--primary-color);
  border: 1px solid gray;
  color: white;
  padding: 1em;
  text-align: center;
  border-radius: 12px;
  width: 250px;
  height: 150px;
}

#modal-close {
  width: 100px;
  padding: 5px;
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 700;
  border: 1px solid black;
  outline: none;
  border-radius: 12px;
}

